.btn-primary-spacing
{
margin-right: 25px;
margin-bottom: 25px !important;
}
.ui-button-success
{
    background-color: rgb(16, 190, 16)
}
.ui-button-cancel
{
   background-color: rgb(117, 117, 117) 
}
