<br>
<br>

<div class="card" >
    <div class="card-header">
    <b> User Details</b>
    </div>
    <div class="card-body" *ngIf= "data[1]">
     <h5 class="card-title">{{data[1].profileData['firstName']}} {{data[1].profileData['lastName']}}</h5>
     <p class="card-text"> Role: {{data[1].profileData['roleName']}}</p>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body" *ngIf= "data[1]">
            <h5 class="card-title">OtherDetails</h5>
           <p class="card-text">Email: {{data[1].profileData['email1']}}</p>
            <p class="card-text">Company Name: {{data[1].profileData['companyLegalName']}}</p>
            <p class="card-text">Reports To: {{data[1].profileData['reportsToFirstName']}} {{data[1].profileData['reportsToLastName']}}</p>
            <p class="card-text">Reports to Id: {{data[1].profileData['reportsToEmail']}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" *ngIf= "data[0] && data[1]">
          <div class="card-body">
            <h5 class="card-title">LoginDetails</h5>
            <p class="card-text">Last LoggedIn: {{data[0].loggedIndata['lastLoginDate']}}</p>
            <p class="card-text">Login Attempts:{{data[0].loggedIndata['loginAttempts']}}</p>
           <p class="card-text">Status: {{data[1].profileData['statusName']}}</p>
          </div>
        </div>
      </div>
    </div>

